.row {
    display: flex;
    border: 2px solid black;
    height: 90vh;
    /* align-items: stretch; */
    /* justify-content: space-between; */
    /* flex-direction: row-reverse; */
    /* align-items: center; */
    /* align-items: flex-end; */
    /* align-content: stretch; */
    /* align-content: flex-end; */
    /* flex-flow: row wrap; */
    /* justify-content: space-between; */

}

.col {
    width: 200px;
    height: 100px;
    background-color: gray;
    font-size: 30px;
    border: 1px solid red;
    /* flex-shrink: 1; */
    /* flex-grow: 1; */
}

.col:first-child {
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
}


/*  when flex-direction is row, 
    align-items align flex items from top to bottom and justify-content justify flex items from left to right
    when flex-direction is column
    justify-content align flex items from top to bottom and align-items justify flex items from left to right
*/